<%- include("partials/header"); -%>
<div class="mainHeading">
  <h1>City Not Found!</h1>
</div>
<div class="set">
 <a href="/home"><button class="btn btn-info btn-lg btn-block">Back</button></a>
</div>
<%- include("partials/footer"); -%>
