<%- include("partials/header"); -%>
  <div class="mainHeading">
    <h1>Weather May Help!</h1>
  </div>

  <div class="set">
    <form action="/" method="post" class="form-group">
      <div class="form-group mb-2">
        <label for="cityInput">City</label>
        <input id="cityInput" type="text" name="cityName" autocomplete="off">
      </div>
      <button type="submit" class="btn btn-info btn-lg btn-block">Seek!</button>
    </form>
    <h4>"When does it rain money? A: When there is 'change' in the weather."</h4>
  </div>
<%- include("partials/footer"); -%>
